<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости моего сайта </title>
</head>
<body>
    
    <% include blocks/header.ejs %>
    
    <div class="block">
    
        <h1>Новостная страница с id - <%=newsId %> </h1>
        <p> <%=newParam %></p>
        <p><b>Title:</b> <%=obj.title %></p>
        <p><b>id:</b> <%=obj.id %></p>

        <ul>
            <% obj.paragraphs.forEach(function(item) { %>
                <li> <%=item %></li>
            <% }); %>
        </ul>


        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis enim qui odio harum repellendus voluptatem minus debitis,
            praesentium cumque numquam culpa ad, repudiandae aliquid vero optio commodi iste alias amet.
        </p>
    </div>
</body>
</html>